@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.about {
  padding-left: 80px;
  padding-right: 80px;
  background-color: #0a2850;
  display: flex;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.about__title {
  margin: 0;
  margin-top: 100px;
  max-width: 251px;
  position: relative;
  color: #fff;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__content {
  margin: 0;
  max-width: 660px;
  margin-left: auto;
  margin-top: 119px;
  margin-bottom: 173px;
}

.about__paragraph {
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
  font-family: "Noto Serif", "Times New Roman", "serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph:last-child {
  margin: 0;
}

.about__circle {
  position: absolute;
  border-radius: 50%;
  width: 426px;
  height: 426px;
  background-color: #2f80ed;
  left: -129px;
  margin-top: -152px;
}

.about__circle_animation_blurred {
  animation: pulse 1.3s ease-in-out infinite;
}
