.about {
  padding-left: 80px;
  padding-right: 80px;
  background-color: #0a2850;
  display: flex;
}

.about__title {
  margin: 0;
  margin-top: 100px;
  max-width: 251px;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__content {
  margin: 0;
  max-width: 660px;
  margin-left: auto;
  margin-top: 119px;
  margin-bottom: 173px;
}

.about__paragraph {
  margin: 0;
  margin-top: 20px;
  color: #fff;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__circle {
  position: absolute;
  border-radius: 50%;
  width: 426px;
  height: 426px;
  background-color: #2f80ed;
  left: -129px;
  margin-top: -152px;
}
