.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 100px;
  padding-bottom: 60px;
}

.footer__content {
  margin: 0;
  margin-bottom: 108px;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  margin: 0;
  width: 116px;
  height: 21px;
}

.footer__social-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  color: #fff;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
}

.footer__list-item {
  margin: 0;
  color: #fff;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-icon {
  margin: 0;
  margin-right: 10px;
  height: 16px;
  width: 16px;
}

.footer__social-link {
  margin: 0;
  color: #fff;
  text-decoration: none;
  transition-duration: 1s;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  margin: 0;
  color: #fff;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
