.menu {
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu__title {
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  max-width: 780px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  margin: auto;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  max-width: 780px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
}

.card {
  margin: auto;
  padding: auto;
}

.card__title {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list-item {
  margin: 0;
  padding: 0;
  width: 540px;
  margin-bottom: 16px;
  list-style-type: none;
  display: flex;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid black;
}
