.nav {
  display: flex;
  justify-content: flex-end;
}

.nav__link {
  color: #000;
  text-decoration: none;
  transition: 1s;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link:hover {
  color: #2f80ed;
}
